/* @media(max-width:575.98px){
    
}
@media(max-width:576px) and (max-width:767.98px){
  
} */

@media(max-width:767.98px){
    .collapse ul li a {
        padding: 0 !important;
    }
    .carousel-item {
        padding: 50px 0;
    }
    .bann-text h4{
        font-size: 20px;
    }
    .bann-text h2{
        font-size: 35px;
    }
}

@media(max-width:768px) and (max-width:991.98px){
    
}
@media(max-width:992px) and (max-width:1199.98px){
    
}
@media(max-width:1200px) and (max-width:1399.98px){
    
}